{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    {% if new %}
        <h1>Create new page</h1>
    {% else %}
        <h1>Page '{{ title }}' already exists!</h1>
    {% endif %}

    {% if new %}  
        <div>
            <form action="{% url 'encyclopedia:newPage' %}" method="POST">
                {% csrf_token %}
                <label id="title_label">{{entry.title.label_tag}}</label>
                <br> 
                {{entry.title}}
                <br> 
                <label id="content_label">{{entry.content.label_tag}}</label>
                <br> 
                {{entry.content}}
                <br> 
                <input type="submit" class="btn btn-dark" value="Create">
            </form>
        </div>
    
    {% endif %}

{% endblock %}